doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/app.min.js')
  body
    div(class="container container-fluid")
      div(class="row")
        block content
