extends ../layout
include form.jade
block content
    h1.
        #{title}
    ul(class="list-group")
        li(class="list-group-item active")
            +taskForm({})
        - each task, i in tasks
            li(class="list-group-item")
                +taskForm(task)