extends ../layout
block content
    h1.
        #{title}
    form#formAddBlob(name="addTask",method="post",action="/tasks")
        p Name:
            input#inputName(type="text", placeholder="ex. Pay my bills", name="name")
        p Do until:
            input#inputDob(type="date", name="doUntil")
        p
            button#btnSubmit(type="submit") submit